  <!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CS247 Project 3 Proto1</title>
    <link rel="stylesheet" href='/stylesheets/main.css'>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/MediaStreamRecorder.js'></script>
    <script src='javascript/bootstrap.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/main1.js'></script>
</head>
<body>

  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>

  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>

  <div class="modal fade" id="video_options" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Click the reaction video to send</h4>
        </div>
        <div class="modal-body" id="options_body">
          
        </div>
        <div class="modal-footer">
          <a href="#" id="noVideo">Send message with no video</a>
          <button type="button" class="btn btn-default" id="okButton">Send!</button>
        </div>
      </div>
    </div>
  </div>


  <div id="webcam_stream_topright"></div>
  <div id="video_container"></div>

</body>
</html>

